:root {
    --layer-0: -1;
    --layer-1: 100;
    --layer-2: 200;
    --layer-3: 300;
    --layer-4: 400;
    --layer-5: 500;
    --layer-6: 600;
    --layer-7: 700;
    --layer-8: 800;
    --layer-9: 900;
    --layer-10: 1000;
    --radius-thumb: 6px;
    --font-family-monospace: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,Courier,monospace;
    --chat-spacing: 15px;
    --sticker-size-store: 72px;
    --sticker-size-details: 256px;
    --t-ease: cubic-bezier(0.1,0.82,0.25,1);
    --radius-app: 3px;
    --blur-radius-thumbnail: 8px;
    --padding-psa-message: 22px;
    --padding-drawer-bottom: 32px;
    --sticker-size-panel: 100px;
    --compose-box-menu-item-width: 26px;
    --compose-box-menu-height: 52px;
    --compose-box-top-bottom-padding: 5px;
    --compose-box-left-right-padding: 10px;
    --compose-box-open-menu-width: 110px;
    --compose-box-full-open-menu-width: 152px;
    --compose-box-menu-item-spacing: 16px;
    --compose-box-menu-width-status-reply: 68px;
    --compose-box-open-menu-width-status-reply: 110px;
    --width-vcard-bubble: 336px;
    --beige: #e5ddd5;
    --beige-rgb: 229,221,213;
    --black: #000;
    --black-rgb: 0,0,0;
    --blue-light: #00a5f4;
    --blue-light-rgb: 0,165,244;
    --blue-ocean: #aadaff;
    --blue-ocean-rgb: 170,218,255;
    --blue-sky: #9de1fe;
    --blue-sky-rgb: 157,225,254;
    --blue: #039be5;
    --blue-rgb: 3,155,229;
    --dark: #263238;
    --dark-rgb: 38,50,56;
    --green-deep: #1b9a59;
    --green-deep-rgb: 27,154,89;
    --green: #07bc4c;
    --green-rgb: 7,188,76;
    --green-accent: #20c659;
    --green-accent-rgb: 32,198,89;
    --orange: #ffad20;
    --orange-rgb: 255,173,32;
    --pale-blue-green: #ecfaf5;
    --pale-blue-green-rgb: 236,250,245;
    --pale-green: #dcf8c6;
    --pale-green-rgb: 220,248,198;
    --pale-yellow: #fff5c4;
    --pale-yellow-rgb: 255,245,196;
    --red-light: #f44336;
    --red-light-rgb: 244,67,54;
    --red: #d70000;
    --red-rgb: 215,0,0;
    --teal-light: #1de9b6;
    --teal-light-rgb: 29,233,182;
    --teal-lighter: #00bfa5;
    --teal-lighter-rgb: 0,191,165;
    --teal: #009688;
    --teal-rgb: 0,150,136;
    --white: #fff;
    --white-rgb: 255,255,255;
    --yellow: #fed859;
    --yellow-rgb: 254,216,89;
    --gray-30: #f7f7f7;
    --gray-30-rgb: 247,247,247;
    --gray-60: #f0f0f0;
    --gray-60-rgb: 240,240,240;
    --gray-70: #ededed;
    --gray-70-rgb: 237,237,237;
    --gray-100: #e6e6e6;
    --gray-100-rgb: 230,230,230;
    --gray-150: #d9d9d9;
    --gray-150-rgb: 217,217,217;
    --gray-200: #ccc;
    --gray-200-rgb: 204,204,204;
    --gray-300: #b3b3b3;
    --gray-300-rgb: 179,179,179;
    --gray-400: #999;
    --gray-400-rgb: 153,153,153;
    --gray-500: grey;
    --gray-500-rgb: 128,128,128;
    --gray-600: #666;
    --gray-600-rgb: 102,102,102;
    --gray-700: #4a4a4a;
    --gray-700-rgb: 74,74,74;
    --gray-800: #303030;
    --gray-800-rgb: 48,48,48;
    --gray-850: #262626;
    --gray-850-rgb: 38,38,38;
    --gray-900: #1a1a1a;
    --gray-900-rgb: 26,26,26;
    --active-tab-marker: #009688;
    --active-tab-marker-rgb: 0,150,136;
    --app-background: #dddbd1;
    --app-background-rgb: 221,219,209;
    --app-background-deeper: #d2dbdc;
    --app-background-deeper-rgb: 210,219,220;
    --app-background-stripe: #009688;
    --app-background-stripe-rgb: 0,150,136;
    --attach-media-drop-border: rgba(0,0,0,0.3);
    --attach-media-drop-border-rgb: 0,0,0;
    --attach-media-drop-overlay: hsla(0,0%,100%,0.6);
    --attach-media-drop-overlay-rgb: 255,255,255;
    --audio-control-incoming: #a2a2a2;
    --audio-control-incoming-rgb: 162,162,162;
    --audio-control-outgoing: #6f8171;
    --audio-control-outgoing-rgb: 111,129,113;
    --audio-progress-incoming: #31c76a;
    --audio-progress-incoming-rgb: 49,199,106;
    --audio-progress-outgoing: #889a7b;
    --audio-progress-outgoing-rgb: 136,154,123;
    --audio-progress-played-incoming: #30b6f6;
    --audio-progress-played-incoming-rgb: 48,182,246;
    --audio-progress-played-outgoing: #2ab5eb;
    --audio-progress-played-outgoing-rgb: 42,181,235;
    --audio-track-incoming: #e6e6e6;
    --audio-track-incoming-rgb: 230,230,230;
    --audio-track-outgoing: #c6dfb2;
    --audio-track-outgoing-rgb: 198,223,178;
    --avatar-background: #e6e6e6;
    --avatar-background-rgb: 230,230,230;
    --avatar-border: #fff;
    --avatar-border-rgb: 255,255,255;
    --avatar-placeholder-background: #dfe5e7;
    --avatar-placeholder-background-rgb: 223,229,231;
    --avatar-placeholder-primary: #fff;
    --avatar-placeholder-primary-rgb: 255,255,255;
    --archived-chat-marker: #999;
    --archived-chat-marker-rgb: 153,153,153;
    --archived-chat-marker-border: rgba(91,202,255,0.1);
    --archived-chat-marker-border-rgb: 91,202,255;
    --archived-chat-marker-background: transparent;
    --archived-chat-marker-background-rgb: 0,0,0;
    --background-default: #fff;
    --background-default-rgb: 255,255,255;
    --background-default-active: #ebebeb;
    --background-default-active-rgb: 235,235,235;
    --background-default-hover: #f5f5f5;
    --background-default-hover-rgb: 245,245,245;
    --badge-icon: #fff;
    --badge-icon-rgb: 255,255,255;
    --badge-pending: #00bfa5;
    --badge-pending-rgb: 0,191,165;
    --border-bubble: rgba(0,0,0,0.06);
    --border-bubble-rgb: 0,0,0;
    --border-deeper: rgba(0,0,0,0.03);
    --border-deeper-rgb: 0,0,0;
    --border-default: #f0f0f0;
    --border-default-rgb: 240,240,240;
    --border-list: #f2f2f2;
    --border-list-rgb: 242,242,242;
    --border-panel: rgba(0,0,0,0.05);
    --border-panel-rgb: 0,0,0;
    --border-strong: #d9d9d9;
    --border-strong-rgb: 217,217,217;
    --border-stronger: rgba(0,0,0,0.08);
    --border-stronger-rgb: 0,0,0;
    --bubble-meta: rgba(0,0,0,0.45);
    --bubble-meta-rgb: 0,0,0;
    --bubble-meta-icon: rgba(0,0,0,0.3);
    --bubble-meta-icon-rgb: 0,0,0;
    --business-name-title: #262626;
    --business-name-title-rgb: 38,38,38;
    --business-name-subtitle: #b3b3b3;
    --business-name-subtitle-rgb: 179,179,179;
    --butterbar-battery-background: #f9685d;
    --butterbar-battery-background-rgb: 249,104,93;
    --butterbar-battery-icon: hsla(0,0%,100%,0.9);
    --butterbar-battery-icon-rgb: 255,255,255;
    --butterbar-battery-primary: #fff;
    --butterbar-battery-primary-rgb: 255,255,255;
    --butterbar-battery-secondary: #fff;
    --butterbar-battery-secondary-rgb: 255,255,255;
    --butterbar-connection-background: #fed859;
    --butterbar-connection-background-rgb: 254,216,89;
    --butterbar-connection-primary: rgba(48,48,48,0.96);
    --butterbar-connection-primary-rgb: 48,48,48;
    --butterbar-connection-secondary: rgba(48,48,48,0.85);
    --butterbar-connection-secondary-rgb: 48,48,48;
    --butterbar-default-background: #9de1fe;
    --butterbar-default-background-rgb: 157,225,254;
    --butterbar-fatal-background: #fed859;
    --butterbar-fatal-background-rgb: 254,216,89;
    --butterbar-fatal-primary: rgba(48,48,48,0.96);
    --butterbar-fatal-primary-rgb: 48,48,48;
    --butterbar-fatal-secondary: rgba(48,48,48,0.75);
    --butterbar-fatal-secondary-rgb: 48,48,48;
    --butterbar-icon: hsla(0,0%,100%,0.9);
    --butterbar-icon-rgb: 255,255,255;
    --butterbar-notice-background: #e2f2ef;
    --butterbar-notice-background-rgb: 226,242,239;
    --butterbar-notice-circle: #fff;
    --butterbar-notice-circle-rgb: 255,255,255;
    --butterbar-notice-icon: #6fb9b0;
    --butterbar-notice-icon-rgb: 111,185,176;
    --butterbar-notice-smb-background: #d8e9f2;
    --butterbar-notice-smb-background-rgb: 216,233,242;
    --butterbar-notice-smb-circle: #fff;
    --butterbar-notice-smb-circle-rgb: 255,255,255;
    --butterbar-notice-smb-icon: #3a5564;
    --butterbar-notice-smb-icon-rgb: 58,85,100;
    --butterbar-notification-icon: hsla(0,0%,100%,0.9);
    --butterbar-notification-icon-rgb: 255,255,255;
    --butterbar-primary: rgba(48,48,48,0.96);
    --butterbar-primary-rgb: 48,48,48;
    --butterbar-secondary: rgba(48,48,48,0.85);
    --butterbar-secondary-rgb: 48,48,48;
    --butterbar-update-background: #1de9b6;
    --butterbar-update-background-rgb: 29,233,182;
    --butterbar-update-icon: hsla(0,0%,100%,0.9);
    --butterbar-update-icon-rgb: 255,255,255;
    --butterbar-green-nux-primary: rgba(48,48,48,0.96);
    --butterbar-green-nux-primary-rgb: 48,48,48;
    --butterbar-green-nux-secondary: rgba(48,48,48,0.7);
    --butterbar-green-nux-secondary-rgb: 48,48,48;
    --butterbar-green-nux-background: #bbe4dd;
    --butterbar-green-nux-background-rgb: 187,228,221;
    --butterbar-green-nux-icon: #316474;
    --butterbar-green-nux-icon-rgb: 49,100,116;
    --butterbar-green-nux-icon-background: #eefefa;
    --butterbar-green-nux-icon-background-rgb: 238,254,250;
    --butterbar-green-nux-icon-dismiss: #88a6a1;
    --butterbar-green-nux-icon-dismiss-rgb: 136,166,161;
    --butterbar-blue-nux-primary: rgba(48,48,48,0.96);
    --butterbar-blue-nux-primary-rgb: 48,48,48;
    --butterbar-blue-nux-secondary: rgba(48,48,48,0.7);
    --butterbar-blue-nux-secondary-rgb: 48,48,48;
    --butterbar-blue-nux-background: #e2f3fc;
    --butterbar-blue-nux-background-rgb: 226,243,252;
    --butterbar-blue-nux-icon: #86a3b3;
    --butterbar-blue-nux-icon-rgb: 134,163,179;
    --butterbar-blue-nux-icon-background: #fff;
    --butterbar-blue-nux-icon-background-rgb: 255,255,255;
    --butterbar-blue-nux-icon-dismiss: rgba(48,48,48,0.4);
    --butterbar-blue-nux-icon-dismiss-rgb: 48,48,48;
    --butterbar-md-opt-in-countdown-icon-background: #fff;
    --butterbar-md-opt-in-countdown-icon-background-rgb: 255,255,255;
    --butterbar-md-opt-in-awareness-icon-background: #fff;
    --butterbar-md-opt-in-awareness-icon-background-rgb: 255,255,255;
    --button-alternative: #00a5f4;
    --button-alternative-rgb: 0,165,244;
    --button-alternative-background: #fff;
    --button-alternative-background-rgb: 255,255,255;
    --button-background-disabled: #e6e6e6;
    --button-background-disabled-rgb: 230,230,230;
    --button-bubble: rgba(0,150,136,0.7);
    --button-bubble-rgb: 0,150,136;
    --button-plain-background: #fff;
    --button-plain-background-rgb: 255,255,255;
    --button-primary: #fff;
    --button-primary-rgb: 255,255,255;
    --button-primary-background: #0aa545;
    --button-primary-background-rgb: 10,165,69;
    --button-primary-background-hover: #0aaa47;
    --button-primary-background-hover-rgb: 10,170,71;
    --button-round-background: #09e85e;
    --button-round-background-rgb: 9,232,94;
    --button-round-background-inverted: #f3f5f6;
    --button-round-background-inverted-rgb: 243,245,246;
    --button-round-icon-inverted: #00b39b;
    --button-round-icon-inverted-rgb: 0,179,155;
    --button-secondary: #0aa545;
    --button-secondary-rgb: 10,165,69;
    --button-secondary-border: #f0f0f0;
    --button-secondary-border-rgb: 240,240,240;
    --button-secondary-background: #fff;
    --button-secondary-background-rgb: 255,255,255;
    --button-secondary-background-hover: #fff;
    --button-secondary-background-hover-rgb: 255,255,255;
    --button-secondary-hover: #0aaa47;
    --button-secondary-hover-rgb: 10,170,71;
    --cart-interstitial-background: #fff;
    --cart-interstitial-background-rgb: 255,255,255;
    --cart-interstitial-icon: #3a5564;
    --cart-interstitial-icon-rgb: 58,85,100;
    --chat-marker: #999;
    --chat-marker-rgb: 153,153,153;
    --chat-marker-border: rgba(91,202,255,0.1);
    --chat-marker-border-rgb: 91,202,255;
    --chat-marker-background: transparent;
    --chat-marker-background-rgb: 0,0,0;
    --chat-marker-admin: #07bc4c;
    --chat-marker-admin-rgb: 7,188,76;
    --chat-marker-admin-border: rgba(7,188,76,0.7);
    --chat-marker-admin-border-rgb: 7,188,76;
    --chat-meta: rgba(0,0,0,0.45);
    --chat-meta-rgb: 0,0,0;
    --chatlist-icon: rgba(0,0,0,0.3);
    --chatlist-icon-rgb: 0,0,0;
    --checkbox-background: #009688;
    --checkbox-background-rgb: 0,150,136;
    --checkbox-mark: #fff;
    --checkbox-mark-rgb: 255,255,255;
    --chevron-button-background: rgba(0,0,0,0.35);
    --chevron-button-background-rgb: 0,0,0;
    --chip-button-background: #ecfaf5;
    --chip-button-background-rgb: 236,250,245;
    --chip-button-foreground: #009688;
    --chip-button-foreground-rgb: 0,150,136;
    --compose-input-background: #fff;
    --compose-input-background-rgb: 255,255,255;
    --compose-input-background-focused: #d4f1ff;
    --compose-input-background-focused-rgb: 212,241,255;
    --compose-input-border: #fff;
    --compose-input-border-rgb: 255,255,255;
    --compose-input-border-focused: #ccedfd;
    --compose-input-border-focused-rgb: 204,237,253;
    --compose-panel-background: #f0f0f0;
    --compose-panel-background-rgb: 240,240,240;
    --compose-panel-background-hover: #e6e6e6;
    --compose-panel-background-hover-rgb: 230,230,230;
    --compose-primary: #4a4a4a;
    --compose-primary-rgb: 74,74,74;
    --conversation-panel-background: #e5ddd5;
    --conversation-panel-background-rgb: 229,221,213;
    --conversation-panel-border: rgba(0,0,0,0.03);
    --conversation-panel-border-rgb: 0,0,0;
    --cover-image-background: #eaf2f5;
    --cover-image-background-rgb: 234,242,245;
    --danger: #df3333;
    --danger-rgb: 223,51,51;
    --drawer-background: #ededed;
    --drawer-background-rgb: 237,237,237;
    --drawer-background-deep: #ededed;
    --drawer-background-deep-rgb: 237,237,237;
    --drawer-gallery-background: #ededed;
    --drawer-gallery-background-rgb: 237,237,237;
    --drawer-gallery-background-active: #dadada;
    --drawer-gallery-background-active-rgb: 218,218,218;
    --drawer-gallery-background-hover: #e4e4e4;
    --drawer-gallery-background-hover-rgb: 228,228,228;
    --drawer-header-title: #fff;
    --drawer-header-title-rgb: 255,255,255;
    --drawer-section-background: #fff;
    --drawer-section-background-rgb: 255,255,255;
    --dropdown-background: #fff;
    --dropdown-background-rgb: 255,255,255;
    --dropdown-background-hover: #f5f5f5;
    --dropdown-background-hover-rgb: 245,245,245;
    --empty-state-background: #e6e6e6;
    --empty-state-background-rgb: 230,230,230;
    --empty-state-icon: #fff;
    --empty-state-icon-rgb: 255,255,255;
    --ephemeral-nux-bubble: #00bfa5;
    --ephemeral-nux-bubble-rgb: 0,191,165;
    --ephemeral-nux-timer: #00bfa5;
    --ephemeral-nux-timer-rgb: 0,191,165;
    --focus: #00a5f4;
    --focus-rgb: 0,165,244;
    --focus-animation: rgba(0,165,244,0.22);
    --focus-animation-rgb: 0,165,244;
    --focus-animation-deeper: rgba(0,165,244,0.3);
    --focus-animation-deeper-rgb: 0,165,244;
    --focus-lighter: rgba(0,165,244,0.1);
    --focus-lighter-rgb: 0,165,244;
    --highlight: #009688;
    --highlight-rgb: 0,150,136;
    --icon: #51585c;
    --icon-rgb: 81,88,92;
    --icon-ack: #4fc3f7;
    --icon-ack-rgb: 79,195,247;
    --icon-disabled: #9fa3a5;
    --icon-disabled-rgb: 159,163,165;
    --icon-fixed: #919191;
    --icon-fixed-rgb: 145,145,145;
    --icon-lighter: rgba(0,0,0,0.3);
    --icon-lighter-rgb: 0,0,0;
    --icon-strong: #333;
    --icon-strong-rgb: 51,51,51;
    --icon-search-back: #33b7f6;
    --icon-search-back-rgb: 51,183,246;
    --icon-bright-accent: #20c659;
    --icon-bright-accent-rgb: 32,198,89;
    --icon-bright-highlight: #00bfa5;
    --icon-bright-highlight-rgb: 0,191,165;
    --icon-pinned: rgba(0,0,0,0.24);
    --icon-pinned-rgb: 0,0,0;
    --incoming-background: #fff;
    --incoming-background-rgb: 255,255,255;
    --incoming-background-deeper: #f7f7f7;
    --incoming-background-deeper-rgb: 247,247,247;
    --incoming-background-highlight: #ccc;
    --incoming-background-highlight-rgb: 204,204,204;
    --incoming-primary: #989898;
    --incoming-primary-rgb: 152,152,152;
    --input-border-active: #00bfa5;
    --input-border-active-rgb: 0,191,165;
    --input-border: rgba(0,0,0,0.15);
    --input-border-rgb: 0,0,0;
    --input-hover-background: #e9edef;
    --input-hover-background-rgb: 233,237,239;
    --input-empty-value-placeholder: #00a884;
    --input-empty-value-placeholder-rgb: 0,168,132;
    --input-placeholder: #999;
    --input-placeholder-rgb: 153,153,153;
    --intro-background: #f8f9fa;
    --intro-background-rgb: 248,249,250;
    --intro-border: #4adf83;
    --intro-border-rgb: 74,223,131;
    --intro-logo: rgba(78,100,112,0.4);
    --intro-logo-rgb: 78,100,112;
    --intro-secondary: rgba(0,0,0,0.45);
    --intro-secondary-rgb: 0,0,0;
    --inverse: #fff;
    --inverse-rgb: 255,255,255;
    --label-disabled-text: #ccc;
    --label-disabled-text-rgb: 204,204,204;
    --labels-icon: rgba(0,0,0,0.4);
    --labels-icon-rgb: 0,0,0;
    --link: #039be5;
    --link-rgb: 3,155,229;
    --link-alt: #009688;
    --link-alt-rgb: 0,150,136;
    --link-preview: rgba(0,0,0,0.87);
    --link-preview-rgb: 0,0,0;
    --link-preview-light: rgba(0,0,0,0.3);
    --link-preview-light-rgb: 0,0,0;
    --link-preview-lighter: rgba(0,0,0,0.6);
    --link-preview-lighter-rgb: 0,0,0;
    --live-location-footer-background: hsla(0,0%,100%,0.9);
    --live-location-footer-background-rgb: 255,255,255;
    --live-location-glow: rgba(37,211,102,0.3);
    --live-location-glow-rgb: 37,211,102;
    --live-location-glow-stale: rgba(255,0,31,0.3);
    --live-location-glow-stale-rgb: 255,0,31;
    --location-cluster-background: #fff;
    --location-cluster-background-rgb: 255,255,255;
    --map-overlay-background: hsla(0,0%,100%,0.6);
    --map-overlay-background-rgb: 255,255,255;
    --map-overlay-foreground: grey;
    --map-overlay-foreground-rgb: 128,128,128;
    --media-editor-control: #1c313f;
    --media-editor-control-rgb: 28,49,63;
    --media-editor-image-caption-input-background: #fff;
    --media-editor-image-caption-input-background-rgb: 255,255,255;
    --media-editor-video-caption-input-background: #f0f0f0;
    --media-editor-video-caption-input-background-rgb: 240,240,240;
    --media-editor-icon-color: #51585c;
    --media-editor-icon-color-rgb: 81,88,92;
    --media-editor-icon-secondary-color: #fff;
    --media-editor-icon-secondary-color-rgb: 255,255,255;
    --media-editor-thumb-border: #ccc;
    --media-editor-thumb-border-rgb: 204,204,204;
    --media-editor-thumb-border-active: #00bfa5;
    --media-editor-thumb-border-active-rgb: 0,191,165;
    --media-viewer-background: hsla(0,0%,100%,0.96);
    --media-viewer-background-rgb: 255,255,255;
    --media-viewer-button-background: #ccc;
    --media-viewer-button-background-rgb: 204,204,204;
    --media-viewer-button-icon: #fff;
    --media-viewer-button-icon-rgb: 255,255,255;
    --media-inner-border: rgba(0,0,0,0.1);
    --media-inner-border-rgb: 0,0,0;
    --menu-bar-item-background-active: rgba(0,0,0,0.1);
    --menu-bar-item-background-active-rgb: 0,0,0;
    --menu-context-sticker-icon: rgba(48,48,48,0.5);
    --menu-context-sticker-icon-rgb: 48,48,48;
    --menu-context-sticker-icon-inverse: #fff;
    --menu-context-sticker-icon-inverse-rgb: 255,255,255;
    --menu-tabs-list-active: #6dea91;
    --menu-tabs-list-active-rgb: 109,234,145;
    --message-background-deep: rgba(0,0,0,0.12);
    --message-background-deep-rgb: 0,0,0;
    --message-placeholder-icon: rgba(48,48,48,0.3);
    --message-placeholder-icon-rgb: 48,48,48;
    --message-primary: #303030;
    --message-primary-rgb: 48,48,48;
    --message-selection-highlight: rgba(0,150,136,0.08);
    --message-selection-highlight-rgb: 0,150,136;
    --modal-backdrop: hsla(0,0%,100%,0.85);
    --modal-backdrop-rgb: 255,255,255;
    --modal-backdrop-solid: #ededed;
    --modal-backdrop-solid-rgb: 237,237,237;
    --modal-background: #fff;
    --modal-background-rgb: 255,255,255;
    --beta-tag-background: #e6e6e6;
    --beta-tag-background-rgb: 230,230,230;
    --notification-biz-background: rgba(236,250,245,0.95);
    --notification-biz-background-rgb: 236,250,245;
    --notification-biz-text: rgba(0,0,0,0.96);
    --notification-biz-text-rgb: 0,0,0;
    --notification-e2e-background: rgba(255,245,196,0.95);
    --notification-e2e-background-rgb: 255,245,196;
    --notification-e2e-icon: rgba(0,0,0,0.45);
    --notification-e2e-icon-rgb: 0,0,0;
    --notification-e2e-text: rgba(0,0,0,0.96);
    --notification-e2e-text-rgb: 0,0,0;
    --notification-info-icon: rgba(0,0,0,0.45);
    --notification-info-icon-rgb: 0,0,0;
    --notification-non-e2e-background: #d5f4f1;
    --notification-non-e2e-background-rgb: 213,244,241;
    --notification-non-e2e-text: #526571;
    --notification-non-e2e-text-rgb: 82,101,113;
    --notification-text: rgba(0,0,0,0.96);
    --notification-text-rgb: 0,0,0;
    --outgoing-background: #dcf8c6;
    --outgoing-background-rgb: 220,248,198;
    --outgoing-background-deeper: #d3eebe;
    --outgoing-background-deeper-rgb: 211,238,190;
    --outgoing-background-highlight: #b3cba1;
    --outgoing-background-highlight-rgb: 179,203,161;
    --overlay: #000;
    --overlay-rgb: 0,0,0;
    --panel-background: #ededed;
    --panel-background-rgb: 237,237,237;
    --panel-background-active: #dadada;
    --panel-background-active-rgb: 218,218,218;
    --panel-background-colored: #00bfa5;
    --panel-background-colored-rgb: 0,191,165;
    --panel-background-colored-deeper: #009688;
    --panel-background-colored-deeper-rgb: 0,150,136;
    --panel-background-deep: #d9d9d9;
    --panel-background-deep-rgb: 217,217,217;
    --panel-background-deeper: #e6e6e6;
    --panel-background-deeper-rgb: 230,230,230;
    --panel-background-hover: #e4e4e4;
    --panel-background-hover-rgb: 228,228,228;
    --panel-background-lighter: #f7f7f7;
    --panel-background-lighter-rgb: 247,247,247;
    --panel-header-background: #ededed;
    --panel-header-background-rgb: 237,237,237;
    --panel-header-icon: #51585c;
    --panel-header-icon-rgb: 81,88,92;
    --conversation-header-border: rgba(0,0,0,0.08);
    --conversation-header-border-rgb: 0,0,0;
    --panel-input-background: #e6e6e6;
    --panel-input-background-rgb: 230,230,230;
    --panel-primary: rgba(0,0,0,0.35);
    --panel-primary-rgb: 0,0,0;
    --payment-amount: #008c7f;
    --payment-amount-rgb: 0,140,127;
    --payment-status-failed: #f44336;
    --payment-status-failed-rgb: 244,67,54;
    --payment-status-pending: rgba(0,0,0,0.45);
    --payment-status-pending-rgb: 0,0,0;
    --payment-status-success: #07bc4c;
    --payment-status-success-rgb: 7,188,76;
    --photopicker-overlay-background: hsla(0,0%,40%,0.8);
    --photopicker-overlay-background-rgb: 102,102,102;
    --picker-background: #f0f0f0;
    --picker-background-rgb: 240,240,240;
    --pip-drag-bar: #fff;
    --pip-drag-bar-rgb: 255,255,255;
    --pip-player-background: #2a2f32;
    --pip-player-background-rgb: 42,47,50;
    --pip-manager-content: rgba(79,79,79,0.85);
    --pip-manager-content-rgb: 79,79,79;
    --popup-panel-background: rgba(0,0,0,0.05);
    --popup-panel-background-rgb: 0,0,0;
    --primary-muted: grey;
    --primary-muted-rgb: 128,128,128;
    --primary: #4a4a4a;
    --primary-rgb: 74,74,74;
    --primary-strong: #000;
    --primary-strong-rgb: 0,0,0;
    --primary-stronger: #303030;
    --primary-stronger-rgb: 48,48,48;
    --primary-strongest: #000;
    --primary-strongest-rgb: 0,0,0;
    --primary-title: #525252;
    --primary-title-rgb: 82,82,82;
    --product-image-button-background: rgba(0,0,0,0.35);
    --product-image-button-background-rgb: 0,0,0;
    --product-thumb-background: #ededed;
    --product-thumb-background-rgb: 237,237,237;
    --product-thumb-background-deeper: #d9d9d9;
    --product-thumb-background-deeper-rgb: 217,217,217;
    --product-thumb-overlay-background: rgba(0,0,0,0.5);
    --product-thumb-overlay-background-rgb: 0,0,0;
    --product-thumb-overlay-text: #fff;
    --product-thumb-overlay-text-rgb: 255,255,255;
    --product-placeholder-background: #ecf1f3;
    --product-placeholder-background-rgb: 236,241,243;
    --progress-background: #e6e6e6;
    --progress-background-rgb: 230,230,230;
    --progress-primary: #00d9bb;
    --progress-primary-rgb: 0,217,187;
    --ptt-blue: #4fc3f7;
    --ptt-blue-rgb: 79,195,247;
    --ptt-button-cancel: rgba(229,57,53,0.8);
    --ptt-button-cancel-rgb: 229,57,53;
    --ptt-button-send: rgba(9,210,97,0.8);
    --ptt-button-send-rgb: 9,210,97;
    --ptt-draft-button-cancel: grey;
    --ptt-draft-button-cancel-rgb: 128,128,128;
    --ptt-draft-button-cancel-hover: #8a8a8a;
    --ptt-draft-button-cancel-hover-rgb: 138,138,138;
    --ptt-draft-button-play-pause: grey;
    --ptt-draft-button-play-pause-rgb: 128,128,128;
    --ptt-draft-button-play-pause-hover: #8a8a8a;
    --ptt-draft-button-play-pause-hover-rgb: 138,138,138;
    --ptt-draft-button-play-pause-out-of-chat: #fff;
    --ptt-draft-button-play-pause-out-of-chat-rgb: 255,255,255;
    --ptt-draft-button-play-pause-hover-out-of-chat: #f5f5f5;
    --ptt-draft-button-play-pause-hover-out-of-chat-rgb: 245,245,245;
    --ptt-draft-button-stop: #ff3b30;
    --ptt-draft-button-stop-rgb: 255,59,48;
    --ptt-draft-button-stop-hover: #ff4e44;
    --ptt-draft-button-stop-hover-rgb: 255,78,68;
    --ptt-draft-button-send: #00a884;
    --ptt-draft-button-send-rgb: 0,168,132;
    --ptt-draft-button-send-hover: #00bc94;
    --ptt-draft-button-send-hover-rgb: 0,188,148;
    --ptt-draft-thumb: #00a884;
    --ptt-draft-thumb-rgb: 0,168,132;
    --ptt-thumb-outgoing-unplayed: #6f8171;
    --ptt-thumb-outgoing-unplayed-rgb: 111,129,113;
    --ptt-thumb-outgoing-played: #4fc3f7;
    --ptt-thumb-outgoing-played-rgb: 79,195,247;
    --ptt-thumb-incoming-unplayed: #09d261;
    --ptt-thumb-incoming-unplayed-rgb: 9,210,97;
    --ptt-thumb-incoming-played: #4fc3f7;
    --ptt-thumb-incoming-played-rgb: 79,195,247;
    --ptt-draft-waveform-background: #fff;
    --ptt-draft-waveform-background-rgb: 255,255,255;
    --ptt-draft-waveform-background-border: #f7f7f7;
    --ptt-draft-waveform-background-border-rgb: 247,247,247;
    --ptt-ooc-background: #009688;
    --ptt-ooc-background-rgb: 0,150,136;
    --ptt-ooc-mic-border-color: #009688;
    --ptt-ooc-mic-border-color-rgb: 0,150,136;
    --ptt-ooc-mic-fill-color: #fff;
    --ptt-ooc-mic-fill-color-rgb: 255,255,255;
    --ptt-ooc-avatar-background: #ffad1f;
    --ptt-ooc-avatar-background-rgb: 255,173,31;
    --ptt-waveform-preview-unplayed: #ced0d1;
    --ptt-waveform-preview-unplayed-rgb: 206,208,209;
    --ptt-waveform-incoming-unplayed: #ced0d1;
    --ptt-waveform-incoming-unplayed-rgb: 206,208,209;
    --ptt-waveform-outgoing-unplayed: #b2caa4;
    --ptt-waveform-outgoing-unplayed-rgb: 178,202,164;
    --ptt-waveform-preview-played: #858a8d;
    --ptt-waveform-preview-played-rgb: 133,138,141;
    --ptt-waveform-incoming-played: #858a8d;
    --ptt-waveform-incoming-played-rgb: 133,138,141;
    --ptt-waveform-outgoing-played: #748670;
    --ptt-waveform-outgoing-played-rgb: 116,134,112;
    --ptt-gray: rgba(48,48,48,0.7);
    --ptt-gray-rgb: 48,48,48;
    --ptt-gray-badge: rgba(51,51,51,0.5);
    --ptt-gray-badge-rgb: 51,51,51;
    --ptt-green: #09d261;
    --ptt-green-rgb: 9,210,97;
    --ptt-message-blue: #039be5;
    --ptt-message-blue-rgb: 3,155,229;
    --ptt-text: #fff;
    --ptt-text-rgb: 255,255,255;
    --quick-action-button: #fff;
    --quick-action-button-rgb: 255,255,255;
    --quick-action-button-background: rgba(0,0,0,0.14);
    --quick-action-button-background-rgb: 0,0,0;
    --rich-text-panel-background: #f0f0f0;
    --rich-text-panel-background-rgb: 240,240,240;
    --search-container-background: #f6f6f6;
    --search-container-background-rgb: 246,246,246;
    --search-input-background: #fff;
    --search-input-background-rgb: 255,255,255;
    --search-input-background-active: #fff;
    --search-input-background-active-rgb: 255,255,255;
    --secondary: rgba(0,0,0,0.6);
    --secondary-rgb: 0,0,0;
    --secondary-light: rgba(0,0,0,0.25);
    --secondary-light-rgb: 0,0,0;
    --secondary-lighter: rgba(0,0,0,0.45);
    --secondary-lighter-rgb: 0,0,0;
    --secondary-stronger: rgba(0,0,0,0.8);
    --secondary-stronger-rgb: 0,0,0;
    --security-icon-background: #d3ede6;
    --security-icon-background-rgb: 211,237,230;
    --security-icon-lock: #1fc4b1;
    --security-icon-lock-rgb: 31,196,177;
    --security-icon-shield: #f0faf7;
    --security-icon-shield-rgb: 240,250,247;
    --shadow: #000;
    --shadow-rgb: 0,0,0;
    --shadow-light: rgba(0,0,0,0.08);
    --shadow-light-rgb: 0,0,0;
    --spinner-default: #ccc;
    --spinner-default-rgb: 204,204,204;
    --spinner-highlight: rgba(7,188,76,0.7);
    --spinner-highlight-rgb: 7,188,76;
    --spinner-incoming: #b3b3b3;
    --spinner-incoming-rgb: 179,179,179;
    --spinner-outgoing: #9aae8b;
    --spinner-outgoing-rgb: 154,174,139;
    --startup-background: #f0f0f0;
    --startup-background-rgb: 240,240,240;
    --startup-icon: #bfbfbf;
    --startup-icon-rgb: 191,191,191;
    --status-background: #000;
    --status-background-rgb: 0,0,0;
    --status-background-hover: #262626;
    --status-background-hover-rgb: 38,38,38;
    --status-primary: #fff;
    --status-primary-rgb: 255,255,255;
    --status-secondary: hsla(0,0%,100%,0.55);
    --status-secondary-rgb: 255,255,255;
    --status-secondary-stronger: #b3b3b3;
    --status-secondary-stronger-rgb: 179,179,179;
    --status-ring-read: #bbbec4;
    --status-ring-read-rgb: 187,190,196;
    --status-thumbnail-background: #cacaca;
    --status-thumbnail-background-rgb: 202,202,202;
    --sticker-button-background: #e6e6e6;
    --sticker-button-background-rgb: 230,230,230;
    --success: #07bc4c;
    --success-rgb: 7,188,76;
    --suspicious-background: rgba(244,67,54,0.8);
    --suspicious-background-rgb: 244,67,54;
    --system-message-background: rgba(225,245,254,0.92);
    --system-message-background-rgb: 225,245,254;
    --system-message-text: rgba(0,0,0,0.88);
    --system-message-text-rgb: 0,0,0;
    --teal-hover: #00ab97;
    --teal-hover-rgb: 0,171,151;
    --teal-pale: #5fb9b0;
    --teal-pale-rgb: 95,185,176;
    --thumb-border-active: #fff;
    --thumb-border-active-rgb: 255,255,255;
    --thumb-border-viewer-active: #ccc;
    --thumb-border-viewer-active-rgb: 204,204,204;
    --toast-background: rgba(0,0,0,0.82);
    --toast-background-rgb: 0,0,0;
    --tooltip-text: #fff;
    --tooltip-text-rgb: 255,255,255;
    --tooltip-background: #595959;
    --tooltip-background-rgb: 89,89,89;
    --typing: #07bc4c;
    --typing-rgb: 7,188,76;
    --unread-background: #fff;
    --unread-background-rgb: 255,255,255;
    --unread-bar-background: hsla(0,0%,100%,0.25);
    --unread-bar-background-rgb: 255,255,255;
    --unread-timestamp: rgba(0,0,0,0.8);
    --unread-timestamp-rgb: 0,0,0;
    --unread-marker-background: #06d755;
    --unread-marker-background-rgb: 6,215,85;
    --unread-marker-text: #fff;
    --unread-marker-text-rgb: 255,255,255;
    --vcard-placeholder-background: rgba(0,0,0,0.04);
    --vcard-placeholder-background-rgb: 0,0,0;
    --vcard-placeholder-background-deeper: rgba(0,0,0,0.08);
    --vcard-placeholder-background-deeper-rgb: 0,0,0;
    --video-player-background: #000;
    --video-player-background-rgb: 0,0,0;
    --video-primary: #fff;
    --video-primary-rgb: 255,255,255;
    --voip-accept-background: #2ec452;
    --voip-accept-background-rgb: 46,196,82;
    --voip-background: #262626;
    --voip-background-rgb: 38,38,38;
    --voip-background-deep: #000;
    --voip-background-deep-rgb: 0,0,0;
    --voip-video-background: #242424;
    --voip-video-background-rgb: 36,36,36;
    --voip-controls-background: #2d2d2d;
    --voip-controls-background-rgb: 45,45,45;
    --voip-primary: #fff;
    --voip-primary-rgb: 255,255,255;
    --voip-alternative: #000;
    --voip-alternative-rgb: 0,0,0;
    --voip-reject-background: #ff3b30;
    --voip-reject-background-rgb: 255,59,48;
    --voip-disabled-background: #222;
    --voip-disabled-background-rgb: 34,34,34;
    --wallpaper-background: #e5ddd5;
    --wallpaper-background-rgb: 229,221,213;
    --wallpaper-thumb-border-active: #00a5f4;
    --wallpaper-thumb-border-active-rgb: 0,165,244;
    --wallpaper-thumb-border-hover: #fff;
    --wallpaper-thumb-border-hover-rgb: 255,255,255;
    --win32-title-primary: #fff;
    --win32-title-primary-rgb: 255,255,255;
    --reactions-bubble-border: rgba(0,0,0,0.05);
    --reactions-bubble-border-rgb: 0,0,0;
    --reactions-bubble-counter: rgba(60,60,67,0.6);
    --reactions-bubble-counter-rgb: 60,60,67;
    --reactions-details-background: #fff;
    --reactions-details-background-rgb: 255,255,255;
    --text-primary-strong: #000;
    --text-primary-strong-rgb: 0,0,0;
    --text-secondary-lighter: rgba(0,0,0,0.45);
    --text-secondary-lighter-rgb: 0,0,0;
    --text-medium-emphasis: #627885;
    --text-medium-emphasis-rgb: 98,120,133;
    --icon-medium-emphasis: #7e98a8;
    --icon-medium-emphasis-rgb: 126,152,168;
    --icon-high-emphasis: #00a884;
    --icon-high-emphasis-rgb: 0,168,132;
    --switch-button-color: #ececec;
    --switch-button-color-rgb: 236,236,236;
    --switch-button-checked-color: #018579;
    --switch-button-checked-color-rgb: 1,133,121;
    --switch-track-color: #b2b2b2;
    --switch-track-color-rgb: 178,178,178;
    --switch-track-checked-color: #b2dbd7;
    --switch-track-checked-color-rgb: 178,219,215;
}